{% extends "frontend/layout.html" %} {% block title %}Home{% endblock title %}
{% block content %}
<br />
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <article
        class="media content-section"
        style="margin: 20px; margin-top: 35px;"
      >
        <div class="media-body">
          <p class="mr-2" style="color: white;">Lesson 1:</p>
          <h2 class="article-title" href="#" style="color: white;">
            Debate Formats
          </h2>
          <p class="article-content" style="color: white;">
            There are different formats of debating. Knowing about these formats
            is the first step you need to take to get involved in the debating
            sphere.
          </p>
          <button type="button" class="btn align-self-end btn-success">
            Visit Lesson
          </button>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock content %}
