{% extends "frontend/layout.html" %} {% block title %}Register{%endblock title%}
{% block nav %}{% endblock nav %} {%load crispy_forms_tags%} {%block content%}

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
      <form method="POST" action="" class="text-color border-green p-4">
        {%csrf_token%}
        <fieldset class="form-group">
          <legend class="bottom mb-5">
            <strong>Create an Account</strong>
          </legend>
          {{ pform|crispy }} {{ uform|crispy }}
        </fieldset>

        <button class="btn btn-outline-info custom-btn-outline" type="submit">
          Submit
        </button>
        <a href="{% url 'login' %}" class="btn btn-link"
          >Already have an account?</a
        >
      </form>
    </div>
  </div>
</div>

{% endblock content %}
