.bg-pink {
  background-color: yellow;
  filter: grayscale(40%);
}
.nav-bold {
  font-weight: bold;
  font-family: Ubuntu, "times new roman", times, roman, serif;
  color: black;
}

body {
  background-color: whtie;
  font-family: Ubuntu, "times new roman", times, roman, serif;
}

.text-color {
  color: black;
}

.custom-btn {
  color: black;
  background-color: yellow;
  border-color: yellow;
}

.custom-btn:hover {
  color: black;
  background-color: darkgoldenrod;
  border-color: darkgoldenrod;
}

.custom-btn-outline {
  color: black;
  border-color: yellow;
}

.custom-btn-outline:hover {
  color: black;
  background-color: yellow;
  border-color: yellow;
}

.border-green {
  border: 1px solid yellow !important;
}

.asteriskField {
  display: none;
}
